TwitterConsumerKey = 'KUSDoVhfeDboSQ9rQ5edwzRty'
TwitterConsumerSecret = 'lGOAVFYcHpsUPdpFAlFHNHH1YvdvWPaG00d7gsIrrgwAYd9j5n'
TwitterAccessToken = '980256926167543808-OoSGZdxOWAoJtXxvyiU7wa7qdO3SCQi'
TwitterAccessTokenSecret = 'FhLP0SJjYGTAL4W9ehqF8YI8kiyX5IgA7u7BWhrNvk8eX'
